.DS_Store
*.swp
.idea/
Thumbs.db
.learning
.renewablesinfo_org
.financial-services
.research_lab
docs/client_delivery/_inputs/*
!docs/client_delivery/_inputs/README.md
docs/extra/*.xlsx
docs/extra/*.pptx
docs/extra/*.docx
